name: Next.js CI/CD to vercel

on: 
  push:
    branches: ['master']

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    env:
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
      FROM_EMAIL: ${{ secrets.FROM_EMAIL }}
      VERCEL_OIDC_TOKEN: ${{ secrets.VERCEL_OIDC_TOKEN }}

    steps:
    # Lấy code từ GitHub
    - name: Checkout code
      uses: actions/checkout@v3

    # Setup Node.js
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    # Cài dependencies
    - name: Install dependencies
      run: npm ci

      # Chạy build để kiểm tra lỗi
    - name: Build project
      run: npm run build

      # Deploy lên Vercel Production
    - name: Deploy to Vercel
      run: |
          npx vercel pull --yes --environment=production --token=${{ secrets.TOKEN_VERCEL }}
          npx vercel build --prod --token=${{ secrets.TOKEN_VERCEL }}
          npx vercel deploy --prebuilt --prod --token=${{ secrets.TOKEN_VERCEL }}
